body {
  background-color: rgb(0, 27, 0);
}

header {
  background-color: rgb(0, 39, 0);
  color: rgb(255, 255, 220);
  /* height: 10vh; */
  margin: 1%;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  position: relative;
}

header section {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  display: inline;
  width: 50%;
}

header section div {
  display: inline;
  padding: 1%;
  text-align: left;
}

h1 {
  text-align: center;
  margin: 1%;
  padding: 1%;
  width: auto;
  display: flex;
  flex-shrink: 2;
}

#timer {
  position: absolute;
  bottom: 0;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: x-large;
}

#highscores {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 3%;
}

#highscores a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgb(255, 255, 220);
}

main {
  min-height: 75vh;
  color: rgb(255, 255, 220);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#buttonbox {
  width: 50%;
  display: inline;
  position: absolute;
  bottom: 20%;
  left: 25%;
}

.answerButtons {
  color: rgb(255, 255, 220);
  background-color: black;
  border-color: rgb(255, 255, 220);
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
  text-align: center;
  margin: 1%;
  padding: 1%;
}

footer {
  background-color: rgb(0, 39, 0);
  color: rgb(255, 255, 220);
  height: 10vh;
  margin: 1%;
  border-radius: 0px 0px 15px 15px;
}

.viewblock {
  width: 60%;
  height: 65vh;
  margin: 1%;
  padding: 1%;
  position: relative;
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: left;
    font-size: large;
  }

  header div {
    width: fit-content;
  }

  h2 {
    font-size: medium;
  }
}
