/* setting background */
body {
  background-color: rgb(0, 27, 0);
}

/* styling header */
header {
  background-color: rgb(0, 39, 0);
  color: rgb(255, 255, 220);
  /* height: 10vh; */
  margin: 1%;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  position: relative;
}

/* setting timer location */
header section {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  display: inline;
  width: 50%;
}
header section div {
  display: inline;
  padding: 1%;
  text-align: left;
}

/* styling h1 */
h1 {
  text-align: center;
  margin: 1%;
  padding: 1%;
  width: auto;
  display: flex;
  flex-shrink: 2;
}

/* formatting timer */
#timer {
  position: absolute;
  bottom: 0;
  margin-bottom: 3%;
  font-weight: bold;
  font-size: x-large;
}

/* formatting main */
main {
  min-height: 75vh;
  color: rgb(255, 255, 220);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* formatting all buttons */
button {
  color: rgb(255, 255, 220);
  background-color: black;
  border-color: rgb(255, 255, 220);
  height: 2rem;
  width: fit-content;
  font-size: 1rem;
  margin-left: 5%;
  margin-right: 5%;
}

/* setting location for answer buttons and start button */
#startquiz,
#buttonbox {
  width: 50%;
  display: inline;
  position: absolute;
  bottom: 20%;
  left: 25%;
}

/* aliging h2 */
h2 {
  text-align: center;
  margin: 1%;
  padding: 1%;
}

/* styling footer */
footer {
  background-color: rgb(0, 39, 0);
  color: rgb(255, 255, 220);
  height: 10vh;
  margin: 1%;
  border-radius: 0px 0px 15px 15px;
}

/* formatting the div's that the user sees most */
.viewblock {
  width: 60%;
  height: 65vh;
  margin: 1%;
  padding: 1%;
  position: relative;
  display: block;
}

/* setting location of score claer button and where the user sees if their input was right or wrong. */
#clearbutton,
#answerDisplay {
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 25%;
}

/* removing scoreboard styling */
li {
  list-style: none;
}

/* shifts for smaller media */
@media screen and (max-width: 768px) {
  h1 {
    text-align: left;
    font-size: large;
  }

  header div {
    width: fit-content;
  }

  h2 {
    font-size: medium;
  }
}
